body {
    margin: 0;
    background-color: black;
}
#menuTop {
    border-radius: 0 0 15px 15px;
    border: solid 2px transparent;
    background-image: linear-gradient(black,black), radial-gradient(circle at bottom, magenta, cyan);
    background-origin: border-box;
    background-clip: content-box, border-box;
    height: 50px;
    width: 100%;
}
#conteudoTotal {
    /* border-radius: 15px;
    border: solid 2px transparent;
    background-image: linear-gradient(black,black), radial-gradient(circle at top, magenta, cyan);
    background-origin: border-box;
    background-clip: content-box, border-box; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 550px;
}
#rodape {
    border: double 2px transparent;
    background-image: linear-gradient(black,black), radial-gradient(circle at bottom, magenta, cyan);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 15px 15px 0 0;
    background-color: black;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#menuL {     
    float: left;  
    border: double 3px transparent;
    background-image: linear-gradient(grey,grey), radial-gradient(circle at bottom,white, darkgrey);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 15px;
    height: auto;
    width: 220px;
    margin: 1%;
    left: 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#conteudoCentral {   
    display: block; 
    float: left;
    border: double 1px transparent;
    background-image: linear-gradient(black,black), radial-gradient(circle at bottom, magenta, cyan);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 15px;
    background-color: linear;    
    height: auto;
    margin: 1%;
    width: 700px;
}
/* btn-menuL  inicia*/
#btn-menuL{
    width: 200px;
    height: 50px;
    margin: 8px;
    background: transparent;
    background-image: url(../img/btn-menuL.fw.png);
    background-size: contain;
    border: none;
    color: grey;
    font-weight:bolder;
    text-decoration:none !important;
    font-family:serif;
    font-size: 25px;
}
#btn-menuL:hover{    
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-image: url(../img/btn-menuL-hover.fw.png);
    background-size: contain;
    text-shadow: 0 0 4px orangered;
}
/* btn-menuL  termina*/
/* campo de busca inicia */
#campBusca{
    margin: 8px;
    width: 200px;
    height: 40px;
}
#campBuscaInserir{
    width: 150px;
    height: 40px;
    background: linear-gradient(grey,gainsboro 30px,grey);
    border: solid 2px darkgray;
    border-radius: 20px 0 0 20px;    
    text-align: center;
    color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#campBuscaInserir:focus{
    outline: none;
    text-align: center;
    color: orangered;
    background: linear-gradient(sandybrown,gainsboro 30px,sandybrown);
    border: solid 2px sandybrown;
}
#campBuscaInserir::placeholder{
    text-align: center;
    color: grey;
}
#campBuscaInserir:focus::placeholder{
    text-align: center;
    color: sandybrown;
}
#confirmaBusca{
    float: right;
    width: 50px;
    height: 40px;
    background: linear-gradient(grey,gainsboro 30px,grey);
    border: solid 2px darkgray;
    border-radius: 0 20px 20px 0;
    color: grey;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#confirmaBusca:hover{
    cursor: pointer;
    color: orangered;
    background: linear-gradient(sandybrown,gainsboro 30px,sandybrown);
    border: solid 2px sandybrown;
}
/* campo de busca termina */